# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# Database
*.db

# Node
node_modules/

# VSCode
.vscode/*
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db
